<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
    <script type="text/javascript"  src="static/hello.js"></script>
    <!--两种格式都可以-->


    <title>Title</title>
</head>
<body>
<input type = "button" onclick = "sayHello()" value = "Say Hello" />


<form action = "http://localhost:5000/setcookie" method = "POST">
         <p><h3>Enter userID</h3></p>
         <p><input type = 'text' name = 'nm'/></p>
         <p><input type = 'submit' value = 'Login'/></p>
      </form>
</body>
</html>